<!-- FavIcon -->
<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

<!-- META DATA -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/msd-style.css">
<link rel="stylesheet" href="/static/css/msd-style-colors.css">
<link rel="stylesheet" href="/static/css/msd-style-fonts.css">
<!-- Roboto, Roboto Condensed, Open Sans -->
<link rel="stylesheet" href="/static/css/msd-style-fontfaces.css">